.md--carousel{
	z-index: 1;
}
.md--adjust{
	margin-top: 30px;
}

.about{
	position: relative;
	z-index: 0;
	background-color: $secondary-color;
	h1{
		margin: $heading-margin;
	}
	&__button--white{
		border-radius: 0px;
		outline: none;
		border: none;
		padding: 8px 25px;
		transition: 0.3s;
		font-size: 1.1em;
		background-color: $white;
		color: $primary-color;
	}
	&__button--white:hover{
		background-color: $dark-secondary;
	}
	&__button--green{
		border-radius: 0px;
		outline: none;
		border: none;
		padding: 8px 25px;
		transition: 0.3s;
		font-size: 1.1em;
		background-color: $primary-color;
		color: $secondary-color;
	}
	&__button--green:hover{
		background-color: $dark-primary;
	}
	.img-thumbnail{
		border-radius: 0px;
	}
}

.skewed{
	background-color: $primary-color;
	padding: 50px 0px;
	transform: skew(0deg, 3deg) translateY(-50px);
	position: relative;
	z-index: -1;
}

.skew-rev{
	transform: skew(0deg, -3deg);
}


.no-skew{
	margin-top: -50px;
	padding-bottom: 50px;
}

.section-paragraph{
	font-size: $paragraph-text;
}

.rev-text{
	color: $rev-text;
}

