.ourGoal{
	background-color: $darkblue;
	color: $white;

	&__wrap{
		padding-top: 30px;
	}
	&__contents{
		margin-top: 70px;
	}
	.logo-small{
		background-color: $primary-color;
		padding: 30px;
		border-radius: 50%;
		font-size: 30px;
	}
	h1{
		font-family: $font-primary;
	}
	&__button{
		margin: $button-margin;
		background-color: $primary-color;
		border-radius: 0px;
		outline: none;
		border: none;
		padding: 8px 25px;
		transition: 0.3s;
		font-size: 1.1em;
	}
	&__button:hover{
		background-color: $dark-primary;
	}
}

