.md--navbar{
	color: $white !important;
	background-color: $primary-color !important;
	border-color: $primary-color !important;
}

.navbar-brand{ 
	line-height: 15px !important;
	font-size: 25px !important;
	padding: 10px 15px !important;
 	span{
		font-size: 0.6em !important;
	}
}