@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

$primary-color: #00796B;
$dark-primary: #004c40;
$secondary-color: #E3E7E8;
$white: #fff;

$font-primary: 'Bree Serif', serif;