@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

$primary-color: #00796B;
$dark-primary: #004c40;
$secondary-color: #E3E7E8;
$dark-secondary: #E3E7E8;
$white: #fff;
$darkblue: #1b2122;

$font-primary: 'Bree Serif', serif;
$font-secondary: 'Bahnschrift Light';
$rev-text: #fff;

$button-margin: 50px;

$paragraph-text : 1.2em;
$line-height: 1.6em;
$heading-margin: 30px;