.ourgoals{
	//margin: 30px 10px;
	margin: 70px 0px;
	padding:15px 15px;
	color: $darkblue;
	&__heading{

	}
	h3{
		margin: 0px;
		font-weight: bold;
	}
	&__left{
		text-align: left;
		padding: 10px 15px;
	}
	&__right{
		text-align: right;
		padding: 10px 25px;
	}
	ul{
		padding: 20px 50px;
		font-size: $paragraph-text;
	}
	ul li{
		line-height: 25px;
	}
	a{
		font-weight: bold;
		text-decoration: none;
		transition: 0.3s;
	}
	&__hr{
		border-top: 2px solid $secondary-color;
		margin: 0px;
	}
	.thumbnail{
		border-radius: 0px;
	}
}

