@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
/* line 1, ../sass/_base/_base.scss */
.section-header {
  font-family: "Bree Serif", serif;
}

/* line 5, ../sass/_base/_base.scss */
.sub-header {
  font-family: "Bree Serif", serif;
  padding-top: 20px;
}

/* line 10, ../sass/_base/_base.scss */
.md--page-header {
  margin: 80px 0px;
  color: #1b2122;
}
/* line 13, ../sass/_base/_base.scss */
.md--page-header h3 {
  margin: 0px;
  font-weight: bold;
}
/* line 17, ../sass/_base/_base.scss */
.md--page-header__left {
  text-align: left;
  padding: 10px 25px;
}
/* line 21, ../sass/_base/_base.scss */
.md--page-header__right {
  text-align: right;
  padding: 10px 25px;
}
/* line 25, ../sass/_base/_base.scss */
.md--page-header a {
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}
/* line 30, ../sass/_base/_base.scss */
.md--page-header__hr {
  border-top: 2px solid #E3E7E8;
  margin: 0px;
}

/* line 36, ../sass/_base/_base.scss */
.header__right {
  text-align: right;
  padding: 10px 25px;
}

/* line 1, ../sass/_module/_nav.scss */
.md--navbar {
  color: #fff;
  background-color: #00796B;
  border-color: #00796B;
  border-bottom: 1px solid #004c40;
}

/* line 8, ../sass/_module/_nav.scss */
.navbar-brand {
  line-height: 15px;
  padding: 10px 15px;
}

/* line 13, ../sass/_module/_nav.scss */
.main-logo {
  font-weight: bold;
  font-size: 1.3em;
}

/* line 18, ../sass/_module/_nav.scss */
.sub-logo {
  font-size: 0.8em;
  font-weight: normal;
}

/* line 23, ../sass/_module/_nav.scss */
.navbar-nav > li {
  transition: .3s;
}
/* line 25, ../sass/_module/_nav.scss */
.navbar-nav > li:hover {
  background-color: #004c40;
  color: #00796B;
}

/* line 1, ../sass/_module/_about.scss */
.md--carousel {
  z-index: 1;
}

/* line 4, ../sass/_module/_about.scss */
.md--adjust {
  margin-top: 30px;
}

/* line 8, ../sass/_module/_about.scss */
.about {
  position: relative;
  z-index: 0;
  background-color: #E3E7E8;
}
/* line 12, ../sass/_module/_about.scss */
.about h1 {
  margin: 30px;
}
/* line 15, ../sass/_module/_about.scss */
.about__button--white {
  border-radius: 0px;
  outline: none;
  border: none;
  padding: 8px 25px;
  transition: 0.3s;
  font-size: 1.1em;
  background-color: #fff;
  color: #00796B;
}
/* line 25, ../sass/_module/_about.scss */
.about__button--white:hover {
  background-color: #E3E7E8;
}
/* line 28, ../sass/_module/_about.scss */
.about__button--green {
  border-radius: 0px;
  outline: none;
  border: none;
  padding: 8px 25px;
  transition: 0.3s;
  font-size: 1.1em;
  background-color: #00796B;
  color: #E3E7E8;
}
/* line 38, ../sass/_module/_about.scss */
.about__button--green:hover {
  background-color: #004c40;
}
/* line 41, ../sass/_module/_about.scss */
.about .img-thumbnail {
  border-radius: 0px;
}

/* line 46, ../sass/_module/_about.scss */
.skewed {
  background-color: #00796B;
  padding: 50px 0px;
  transform: skew(0deg, 3deg) translateY(-50px);
  position: relative;
  z-index: -1;
}

/* line 54, ../sass/_module/_about.scss */
.skew-rev {
  transform: skew(0deg, -3deg);
}

/* line 59, ../sass/_module/_about.scss */
.no-skew {
  margin-top: -50px;
  padding-bottom: 50px;
}

/* line 64, ../sass/_module/_about.scss */
.section-paragraph {
  font-size: 1.2em;
}

/* line 68, ../sass/_module/_about.scss */
.rev-text {
  color: #fff;
}

/* line 2, ../sass/_module/_members.scss */
.member__button {
  margin: 50px;
  background-color: #004c40;
  border-radius: 0px;
  outline: none;
  border: none;
  padding: 8px 25px;
  transition: 0.3s;
  font-size: 1.1em;
  color: #fff;
}
/* line 13, ../sass/_module/_members.scss */
.member__button:hover {
  background-color: #00796B;
}

/* line 18, ../sass/_module/_members.scss */
.member h1 {
  font-family: "Bree Serif", serif;
}

/* line 22, ../sass/_module/_members.scss */
.member h3 {
  font-family: "Bree Serif", serif;
}

/* line 1, ../sass/_module/_goal.scss */
.ourGoal {
  background-color: #1b2122;
  color: #fff;
}
/* line 4, ../sass/_module/_goal.scss */
.ourGoal__wrap {
  padding-top: 30px;
}
/* line 7, ../sass/_module/_goal.scss */
.ourGoal__contents {
  margin-top: 0px;
}
/* line 10, ../sass/_module/_goal.scss */
.ourGoal .logo-small {
  background-color: #00796B;
  border-radius: 50%;
  font-size: 32px;
}
/* line 15, ../sass/_module/_goal.scss */
.ourGoal h1 {
  font-family: "Bree Serif", serif;
  margin: 30px;
}
/* line 19, ../sass/_module/_goal.scss */
.ourGoal__button {
  margin: 50px;
  background-color: #00796B;
  border-radius: 0px;
  outline: none;
  border: none;
  padding: 8px 25px;
  transition: 0.3s;
  font-size: 1.1em;
  color: #fff;
}
/* line 30, ../sass/_module/_goal.scss */
.ourGoal__button:hover {
  background-color: #004c40;
}
/* line 33, ../sass/_module/_goal.scss */
.ourGoal--box {
  padding: 25px;
  transition: 0.5s;
}
/* line 36, ../sass/_module/_goal.scss */
.ourGoal--box:hover {
  background-color: #202728;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* line 49, ../sass/_module/_goal.scss */
.ourGoal--box {
  font-size: 1.2em;
}

/* line 1, ../sass/_module/_contact.scss */
.contact {
  background-color: #1b2122;
  color: #fff;
  font-size: 1.2em;
}
/* line 5, ../sass/_module/_contact.scss */
.contact h1 {
  font-family: "Bree Serif", serif;
  margin: 30px;
}
/* line 9, ../sass/_module/_contact.scss */
.contact h4 {
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid #00796B;
}
/* line 15, ../sass/_module/_contact.scss */
.contact__aboutus a {
  text-decoration: none;
  transition: 0.5s;
}
/* line 19, ../sass/_module/_contact.scss */
.contact__aboutus a:hover {
  color: #fff;
}
/* line 23, ../sass/_module/_contact.scss */
.contact__sitemap {
  padding: 0px;
}
/* line 26, ../sass/_module/_contact.scss */
.contact__sitemap li {
  list-style: none;
  padding: 0px;
}
/* line 30, ../sass/_module/_contact.scss */
.contact__sitemap a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
/* line 34, ../sass/_module/_contact.scss */
.contact__sitemap a:hover {
  border-left: 4px solid #004c40;
  padding-left: 10px;
}

/* line 41, ../sass/_module/_contact.scss */
.social {
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: 100%;
  background-color: white;
  margin: 10px;
  transition: all 0.5s ease-in-out;
}

/* line 51, ../sass/_module/_contact.scss */
.social svg {
  transition: transform 0.5s ease-out;
}

/* line 54, ../sass/_module/_contact.scss */
.social:hover {
  border-radius: 10%;
  transform: rotate(405deg);
}

/* line 58, ../sass/_module/_contact.scss */
.social:hover svg {
  transform: rotate(315deg);
}

/* line 62, ../sass/_module/_contact.scss */
.facebook {
  fill: #3b5998;
}

/* line 65, ../sass/_module/_contact.scss */
.facebook:hover {
  fill: white;
  background: #3b5998;
}

/* line 70, ../sass/_module/_contact.scss */
.twitter {
  fill: #4099FF;
}

/* line 73, ../sass/_module/_contact.scss */
.twitter:hover {
  fill: white;
  background: #4099FF;
}

/* line 77, ../sass/_module/_contact.scss */
.googleplus {
  fill: #d34836;
}

/* line 81, ../sass/_module/_contact.scss */
.googleplus:hover {
  fill: white;
  background: #d34836;
}

/* line 1, ../sass/_module/_footer.scss */
.bottom {
  background-color: #004c40;
  color: #E3E7E8;
  text-align: center;
  padding: 15px 0px 5px 0px;
}

/* line 8, ../sass/_module/_footer.scss */
.bottom a {
  color: #E3E7E8;
  text-decoration: none;
}

/* line 1, ../sass/_module/_pages/_about-us.scss */
.about-us__img {
  padding: 25px;
}

/* line 4, ../sass/_module/_pages/_about-us.scss */
.about-us {
  margin: 30px 0px;
  color: #1b2122;
}
/* line 7, ../sass/_module/_pages/_about-us.scss */
.about-us__box {
  margin: 50px 10px 0px 30px;
}
/* line 10, ../sass/_module/_pages/_about-us.scss */
.about-us h3 {
  margin: 0px;
  font-weight: bold;
}
/* line 14, ../sass/_module/_pages/_about-us.scss */
.about-us h4 {
  margin: 20px 0px 10px 0px;
  font-weight: bold;
}
/* line 18, ../sass/_module/_pages/_about-us.scss */
.about-us__left {
  padding: 10px 15px;
}
/* line 21, ../sass/_module/_pages/_about-us.scss */
.about-us__right {
  text-align: right;
  padding: 10px 25px;
}
/* line 25, ../sass/_module/_pages/_about-us.scss */
.about-us a {
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}
/* line 30, ../sass/_module/_pages/_about-us.scss */
.about-us__hr {
  border-top: 2px solid #E3E7E8;
  margin: 0px;
}
/* line 34, ../sass/_module/_pages/_about-us.scss */
.about-us .thumbnail {
  border-radius: 0px;
}

/* line 1, ../sass/_module/_pages/_ourgoalpage.scss */
.ourgoals {
  margin: 70px 0px;
  padding: 15px 15px;
  color: #1b2122;
}
/* line 9, ../sass/_module/_pages/_ourgoalpage.scss */
.ourgoals h3 {
  margin: 0px;
  font-weight: bold;
}
/* line 13, ../sass/_module/_pages/_ourgoalpage.scss */
.ourgoals__left {
  text-align: left;
  padding: 10px 15px;
}
/* line 17, ../sass/_module/_pages/_ourgoalpage.scss */
.ourgoals__right {
  text-align: right;
  padding: 10px 25px;
}
/* line 21, ../sass/_module/_pages/_ourgoalpage.scss */
.ourgoals ul {
  padding: 20px 50px;
  font-size: 1.2em;
}
/* line 25, ../sass/_module/_pages/_ourgoalpage.scss */
.ourgoals ul li {
  line-height: 25px;
}
/* line 28, ../sass/_module/_pages/_ourgoalpage.scss */
.ourgoals a {
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}
/* line 33, ../sass/_module/_pages/_ourgoalpage.scss */
.ourgoals__hr {
  border-top: 2px solid #E3E7E8;
  margin: 0px;
}
/* line 37, ../sass/_module/_pages/_ourgoalpage.scss */
.ourgoals .thumbnail {
  border-radius: 0px;
}

/* line 1, ../sass/_module/_pages/_ongoing.scss */
.ongoing {
  margin: 90px 10px 0px 30px;
  color: #1b2122;
}
/* line 4, ../sass/_module/_pages/_ongoing.scss */
.ongoing h3 {
  margin: 0px;
  font-weight: bold;
}
/* line 8, ../sass/_module/_pages/_ongoing.scss */
.ongoing__left {
  padding: 10px 0px;
}
/* line 11, ../sass/_module/_pages/_ongoing.scss */
.ongoing__right {
  text-align: right;
  padding: 10px 40px;
}
/* line 15, ../sass/_module/_pages/_ongoing.scss */
.ongoing a {
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}
/* line 20, ../sass/_module/_pages/_ongoing.scss */
.ongoing__textcontents {
  font-size: 1.2em;
}
/* line 23, ../sass/_module/_pages/_ongoing.scss */
.ongoing__hr {
  border-top: 2px solid #E3E7E8;
  margin-top: 0px;
  margin-left: -20px;
}
/* line 28, ../sass/_module/_pages/_ongoing.scss */
.ongoing .thumbnail {
  border-radius: 0px;
}

/* line 1, ../sass/_module/_pages/_completed.scss */
.completed {
  margin: 90px 10px 0px 30px;
  color: #1b2122;
}
/* line 4, ../sass/_module/_pages/_completed.scss */
.completed__textcontents {
  font-size: 1.2em;
}
/* line 7, ../sass/_module/_pages/_completed.scss */
.completed h3 {
  margin: 0px;
  font-weight: bold;
}
/* line 11, ../sass/_module/_pages/_completed.scss */
.completed__left {
  padding: 10px 0px;
}
/* line 14, ../sass/_module/_pages/_completed.scss */
.completed__right {
  text-align: right;
  padding: 10px 40px;
}
/* line 18, ../sass/_module/_pages/_completed.scss */
.completed a {
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}
/* line 23, ../sass/_module/_pages/_completed.scss */
.completed__hr {
  border-top: 2px solid #E3E7E8;
  margin-top: 0px;
  margin-left: -20px;
}
/* line 28, ../sass/_module/_pages/_completed.scss */
.completed .thumbnail {
  border-radius: 0px;
}

/* line 33, ../sass/_module/_pages/_completed.scss */
.dashed {
  list-style-type: none;
  margin-left: -30px;
}

/* line 37, ../sass/_module/_pages/_completed.scss */
.dashed > li {
  text-indent: -10px;
}

/* line 40, ../sass/_module/_pages/_completed.scss */
.dashed > li:before {
  content: "- ";
  text-indent: -5px;
}

/* line 1, ../sass/_module/_pages/_allmember.scss */
.members__left {
  padding: 10px 15px;
}

/* line 5, ../sass/_module/_pages/_allmember.scss */
.members__right {
  padding: 10px 15px;
  text-align: right;
}

/* line 10, ../sass/_module/_pages/_allmember.scss */
.member-info {
  border: 1px solid #dadada;
  margin-top: 10px;
  border-radius: 3px;
  background: #f1f1f1;
}

/* line 17, ../sass/_module/_pages/_allmember.scss */
.members__subheader {
  padding: 20px 15px;
  text-align: center;
}

/* line 23, ../sass/_module/_pages/_allmember.scss */
.image-sizing {
  margin: 10px 0px;
}

/* line 27, ../sass/_module/_pages/_allmember.scss */
.text-sizing {
  margin-top: 50px;
}

/* line 31, ../sass/_module/_pages/_allmember.scss */
.members--wrapper {
  padding: 0px 10px 0px 30px;
}

@media (max-width: 1200px) {
  /* line 36, ../sass/_module/_pages/_allmember.scss */
  .text-sizing {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  /* line 42, ../sass/_module/_pages/_allmember.scss */
  .member-info {
    text-align: center;
  }
}
/* line 1, ../sass/_module/_gotop.scss */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 21, ../sass/_module/_gotop.scss */
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 34, ../sass/_module/_gotop.scss */
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

/* line 37, ../sass/_module/_gotop.scss */
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* Extra Things */
