@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
/* line 1, ../sass/_module/_nav.scss */
.md--navbar {
  color: #fff !important;
  background-color: #00796B !important;
  border-color: #00796B !important;
}

/* line 7, ../sass/_module/_nav.scss */
.navbar-brand {
  line-height: 15px !important;
  font-size: 25px !important;
  padding: 10px 15px !important;
}
/* line 11, ../sass/_module/_nav.scss */
.navbar-brand span {
  font-size: 0.6em !important;
}

/* line 1, ../sass/_module/_about.scss */
.about {
  position: relative;
  z-index: -1;
  background-color: #E3E7E8;
}

/* line 7, ../sass/_module/_about.scss */
.skewed {
  background-color: #00796B;
  padding: 65px 0px;
  transform: skew(0deg, 3deg) translateY(-50px);
  position: relative;
  z-index: -1;
}

/* line 15, ../sass/_module/_about.scss */
.skew-rev {
  transform: skew(0deg, -3deg);
}

/* line 20, ../sass/_module/_about.scss */
.no-skew {
  margin-top: -50px;
}

/* line 1, ../sass/_module/_members.scss */
.member h1 {
  font-family: "Bree Serif", serif;
}

/* line 5, ../sass/_module/_members.scss */
.member h3 {
  font-family: "Bree Serif", serif;
}

/* line 1, ../sass/_module/_goal.scss */
.ourGoal {
  background-color: #1b2122;
  color: #fff;
}
/* line 5, ../sass/_module/_goal.scss */
.ourGoal__wrap {
  padding-top: 30px;
  padding-bottom: 70px;
}
/* line 9, ../sass/_module/_goal.scss */
.ourGoal__contents {
  margin-top: 70px;
}
/* line 12, ../sass/_module/_goal.scss */
.ourGoal span {
  background-color: #00796B;
  padding: 30px;
  border-radius: 50%;
  font-size: 30px;
}
/* line 18, ../sass/_module/_goal.scss */
.ourGoal h1 {
  font-family: "Bree Serif", serif;
}
